
@import 'constant';

:host {
  z-index: $z-index-actions;

  position: fixed;
  right: 30px;
  top: calc($height-header + 20px);

  display: flex;
  flex-direction: column;
}

mat-icon {
  color: white;
}

.delete-action {
  margin-top: 20px;
}
