<div class="container__modal">
    <form action="">
        <div class="container__modal__input">
            <mat-form-field appearance="fill">
                <mat-label>Proprietario</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Fazenda</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Talhão</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </form>
    <button></button>
</div>