$primary-900: #1b8d34;
$primary-800: #299d46;
$primary-700: #31a550;
$primary-600: #39ae5a;
$primary-500: #3fb562;
$primary-400: #5cc07a;
$primary-300: #18b11d;
$primary-200: #9fdab1;
$primary-100: #c5e9d0;
$primary-50: #e8f6ec;

$primary-contrast-50: rgba(#ffffff, 0.87);
$primary-contrast-100: rgba(#ffffff, 0.87);
$primary-contrast-200: rgba(#ffffff, 0.87);
$primary-contrast-300: rgba(#ffffff, 0.87);
$primary-contrast-400: white;
$primary-contrast-500: white;
$primary-contrast-600: white;
$primary-contrast-700: white;
$primary-contrast-800: white;
$primary-contrast-900: white;


$accent-900: #1b278d;
$accent-800: #29379d;
$accent-700: #3140a5;
$accent-600: #394aae;
$accent-500: #3f51b5;
$accent-400: #5c6bc0;
$accent-300: #7985cb;
$accent-200: #9fa8da;
$accent-100: #c5cbe9;
$accent-50: #e8eaf6;
$accent-contrast-50: rgba(black, 0.87);
$accent-contrast-100: rgba(black, 0.87);
$accent-contrast-200: rgba(black, 0.87);
$accent-contrast-300: rgba(black, 0.87);
$accent-contrast-400: rgba(black, 0.87);
$accent-contrast-500: white;
$accent-contrast-600: white;
$accent-contrast-700: white;
$accent-contrast-800: white;
$accent-contrast-900: white;

$warn-900: #ec1e16;
$warn-800: #ef2c22;
$warn-700: #f13429;
$warn-600: #f33d30;
$warn-500: #f44336;
$warn-400: #f65f54;
$warn-300: #f77b72;
$warn-200: #faa19b;
$warn-100: #fcc7c3;
$warn-50: #fee8e7;
$warn-contrast-50: rgba(black, 0.87);
$warn-contrast-100: rgba(black, 0.87);
$warn-contrast-200: rgba(black, 0.87);
$warn-contrast-300: rgba(black, 0.87);
$warn-contrast-400: rgba(black, 0.87);
$warn-contrast-500: white;
$warn-contrast-600: white;
$warn-contrast-700: white;
$warn-contrast-800: white;
$warn-contrast-900: white;
